<div class="phone-book">
  <h3 class="phone-book-title">My phone book!</h3>
  <div class="input-wrapper">
    <input [(ngModel)]="searchInput" type="text" class="input-text-field" placeholder="search text goes here...">
    <input type="button" value="Add phone" class="input-btn" (click)="showModal()">
  </div>
  <table class="phone-book-table">
    <thead class="table_head">
      <tr>
        <th (click)="firstSort()">#First name
          <span *ngIf="hideF" [textContent]="sortF ? '&#9660;' :
                    '&#9650;'"></span>
        </th>
        <th (click)="lastSort()">#Last name
          <span *ngIf="hideL" [textContent]="sortL ? '&#9660;' :
                    '&#9650;'"></span>
        </th>
        <th (click)="phoneSort()">#Number
          <span *ngIf="hideP" [textContent]="sortP ? '&#9660;' :
          '&#9650;'"></span>
        </th>
        <th>#Edit</th>
        <th>#Delete</th>
      </tr>
    </thead>
    <tbody class="table_body">
      <tr class="tbody_row" *ngFor="let name of phoneList | search:searchInput | sortFirstName:sortF | sortLastName:sortL | sortPhoneNumber:sortP ; index as i"  >
        <td> {{ name.firstName | titlecase }} </td>
        <td> {{ name.lastName | titlecase }} </td>
        <td> {{ name.number }} </td>
        <td>
          <input type="button" value="Edit" class="user-edit-btn" (click)="editUser(i)">
        </td>
        <td>
          <input type="button" value="Delete" class="user-delete-btn" (click)="deleteUser(i)">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="phone-book-window" *ngIf="modalWindow">
    <h3>Add phone</h3>
    <button (click)="hideModal()"><i class="fa-solid fa-xmark"></i></button>
    <div class="wrapper">
      <input [style.borderColor]="!isColor ? 'rgb(196, 195, 195)' : 'red' " [(ngModel)]="newContact.firstN" type="text" name="FirstName" placeholder="First Name">
      <input [style.borderColor]="!isColor ? 'rgb(196, 195, 195)' : 'red' " [(ngModel)]="newContact.lastN" type="text" name="LastNamr" placeholder="Last Name">
      <input [style.borderColor]="!isColor ? 'rgb(196, 195, 195)' : 'red' " [(ngModel)]="newContact.phoneN" type="text" name="NumberOfPhone" placeholder="Number of phone">
    </div>
    <div class="phone-book-window-footer">
      <input (click)="saveModal()" type="button" name="save" value="SAVE" class="btn-save">
    </div>
  </div>
</div>
